dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*

# IDE
.idea
*.iml

# Specific builds
functors/1_mapList
functors/2_mapFunction
functors/3_mapEither
functors/4_mapIO
functors/5_mapCustom
functors/6_mapComposition
functors/7_mapContainers
functors/8_mapTree
functors/9_mapMaybe
functors/10_mapMaybe
functors/mapComposition
functors/mapContainers
functors/mapCustom
functors/mapEither
functors/mapFunction
functors/mapIO
functors/mapList
functors/mapMaybe
functors/mapTree
functors/bonus_1_mapTree
monoids/1_monoid_example
monoids/2_monoid_list
monoids/3_monoid_sum
monoids/4_monoid_product
monoids/5_monoid_any
monoids/6_monoid_all
monoids/7_monoid_maybe
monads/1_monad_list
monads/2_monads_either
monads/3_monad_maybe
